[Desktop Entry]
Encoding=UTF-8
Name=Link to DS / DSi - Pokémon Mystery Dungeon: Explorers of Time / Darkness - The Spriters Resource
Type=Link
URL=https://www.spriters-resource.com/ds_dsi/pokemonmysterydungeonexplorersoftimedarkness/
Icon=text-html
Name[en_US]=DS / DSi - Pokémon Mystery Dungeon: Explorers of Time / Darkness - The Spriters Resource
