[Desktop Entry]
Encoding=UTF-8
Name=Link to Image-dex - Project Pokemon Forums
Type=Link
URL=https://projectpokemon.org/home/gallery/category/2-image-dex/
Icon=text-html
Name[en_US]=Image-dex - Project Pokemon Forums
