[Desktop Entry]
Encoding=UTF-8
Name=Link to Pokémon sprites: archive of Pokémon images from every game | Pokémon Database
Type=Link
URL=https://pokemondb.net/sprites
Icon=text-html
Name[en_US]=Pokémon sprites: archive of Pokémon images from every game | Pokémon Database
